<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell">
        <h6>Legenda</h6>
        <ul>
            <li><i class="fi-star"></i>Fundo para investidor qualificado</li>
            <li><i class="fi-check"></i>Você já investe neste fundo</li>
            <li><i class="icon-info-circled-alt"></i>Entenda o resgate deste fundo</li>
            <li><i class="fi-prohibited"></i>Fundo fechado para aplicação</li>
            <li><i class="icon-reply"></i>Aplicar neste fundo</li>
        </ul>
    </div>
</div>