

<td>
  <div class="indicador-risco" [style.border-left-color]="data.riscoColor"></div>
  <p>{{ data.simple_name }}
    <i data-tooltip data-position="top" tabindex="1" title="Fundo para investidor qualificado" class="fi-star" #tooltip></i>
    <i class="fi-check"></i>
  </p>
  <p><small>{{ data.specification.fund_type }} | {{ data.specification.fund_class }}</small></p>
</td>
<td>{{ data.quota_date | date: 'dd/MM/yyyy'}}</td>
<td>{{ data.profitabilitiesMouthNumber | number: '2.1-2' }}</td>
<td>{{ data.volatility12Number | number: '2.1-2' }}</td>
<td>{{ data.profitabilities24Number | number: '2.1-2' }}</td>
<td>{{ data.operability.minimum_initial_application_amount }}</td>
<td>{{ data.operability.retrieval_quotation_days_str }}</td>
<td class="td-aplicar">
    <i [ngClass]="{'icon-reply': data.is_closed_to_capture, 'fi-prohibited': !data.is_closed_to_capture}"></i>
</td>

