@import 'foundation';

$font_size: 13px;
td {
  padding: 0;
  font-size: $font_size;
    &.td-aplicar {
      font-size: $font_size * 2;
      i {
        &.fi-prohibited {
          color: $light-gray;
        }
        &.icon-reply {
          color: $white;
          font-size: $font_size;
          width: 1rem;
          height: 1rem;
          padding: 4px;
          box-shadow: 0px 2px 4px $medium-gray;
          border-radius: 50%;
          background-color:#119c9f;
          &:before {
            transform: rotate(90deg);
            padding-top: 2px;
          }
        } 
        &.bottom {
          background-color: $white;
          border-radius: 4px;
        }
      }

    }
    &:first-child {
    padding: 0;
    p {
      padding: 0 0.625rem 0 0.625rem;
      margin-bottom: 0;
      small {
        color: $medium-gray;
      }
    }
    i {
      margin: 0 2px;
      color: $white;
      border-radius: 12px;
      &.fi-star{
        background-color: #639d31;
        padding: 1px 4px;
        font-size: 9px;
      }
      &.fi-check{
        background-color: $medium-gray;
        padding: 2px 4px;
        font-size: 8px;
      }
    }
  }
  .indicador-risco {
    border-left-width: 5px;
    border-left-style: solid;
    min-height: 45px;
    height: 100%;
    margin-left: 0;
    width: 5px;
    float: left;
  }
}
