<div class="grid-y grid-padding-x">
    <form [formGroup]="formulario">
        <fieldset class="large-12" *ngFor="let tipo of formulario.controls; index as i">
            {{ tipo }}

        </fieldset>


        <!-- <fieldset class="large-12">
            <legend>Renda Fixa</legend>
            
            <ng-container *ngFor="let control of formulario.get('dado').value.controls; index as i">
               
               <input  type="checkbox"><label></label>
            </ng-container>
        </fieldset> -->
    </form>
</div>

<button (click)="visualizarForm()">form</button>