<div class="grid-y grid-padding-x">
    <button (click)="visualizarForm()">form</button>
    <!-- <form [formGroup]="formulario"> -->
        <!-- <ng-container *ngFor="let group of formulario.controls | keyvalue; index as i "> -->
        <!-- <ng-container *ngFor="let key of objectKeys(formulario.controls) ; index as i "> -->
            <!-- {{ formulario.controls[key].value }} {{ key }} -->
            <fieldset>
                <!-- Principal  -->
                <!-- <legend>{{ getCheckboxLabelById(key) | async }}</legend>
                <input 
                formControlName="formulario.controls[key]"
                type="checkbox">  -->
                <!-- Segundo nivel -->
                <!-- <fieldset>
                    <ng-container *ngFor="let key2 of objectKeys(formulario.controls[key].controls?)">
                        <input  type="checkbox">
                        <label>{{ key2 }}</label>
                    </ng-container>
                </fieldset> -->
                <!--  -->
            </fieldset>
        <!-- </ng-container> -->
    <!-- </form> -->

</div>
