@import 'foundation';

main {
    .cell {
        margin-bottom: 2rem;
        box-shadow: 2px 2px 1px $dark-gray;
        border-radius: 4px;
        border-top: 4px solid $white;
        border-bottom: 4px solid $white;
    }
}