<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12">
            <app-filtro-busca></app-filtro-busca>
        </div>
        <div class="cell small-12 medium-4 filtro">
            <app-filtro-minima></app-filtro-minima>
        </div>
        <div class="cell small-12 medium-4 filtro">
            <app-filtro-risco></app-filtro-risco>
        </div>
        <div class="cell small-12 medium-4 filtro">
            <app-filtro-prazo></app-filtro-prazo>
        </div>
        <div class="cell small-12 infos">
            <p>Horário limite de aplicação: 12:00</p>
        </div>        
    </div>
</div>
