<form [formGroup]="formulario">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            <label for="">Perfil de risco do fundo</label>
            <div class="flex-container align-spaced">
                <span class="align-self-bottom"><small>menor</small></span>
                <div class="medidores flex-container align-spaced">
                    <span class="medidor medidor-item-12" (click)="selectMedidor(12)"></span>
                    <span class="medidor medidor-item-11" (click)="selectMedidor(11)"></span>
                    <span class="medidor medidor-item-10" (click)="selectMedidor(10)"></span>
                    <span class="medidor medidor-item-9" (click)="selectMedidor(9)"></span>
                    <span class="medidor medidor-item-8" (click)="selectMedidor(8)"></span>
                    <span class="medidor medidor-item-7" (click)="selectMedidor(7)"></span>
                    <span class="medidor medidor-item-6" (click)="selectMedidor(6)"></span>
                    <span class="medidor medidor-item-5" (click)="selectMedidor(5)"></span>
                    <span class="medidor medidor-item-4" (click)="selectMedidor(4)"></span>
                    <span class="medidor medidor-item-3" (click)="selectMedidor(3)"></span>
                    <span class="medidor medidor-item-2" (click)="selectMedidor(2)"></span>
                    <span class="medidor medidor-item-1" (click)="selectMedidor(1)"></span>
                </div> 
                <span class="align-self-bottom"><small>maior</small></span>
            </div>
        </div>
    </div>
</form>