<form [formGroup]="formulario">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            <label for="">Perfil de risco do fundo</label>
            <div class="flex-container align-spaced">
                <span><small>menor</small></span>
                <div class="medidores flex-container align-spaced">
                    <span class="medidor medidor-item-10"></span>
                    <span class="medidor medidor-item-9"></span>
                    <span class="medidor medidor-item-8"></span>
                    <span class="medidor medidor-item-7"></span>
                    <span class="medidor medidor-item-6"></span>
                    <span class="medidor medidor-item-5"></span>
                    <span class="medidor medidor-item-4"></span>
                    <span class="medidor medidor-item-3"></span>
                    <span class="medidor medidor-item-2"></span>
                    <span class="medidor medidor-item-1"></span>
                </div> 
                <span><small>maior</small></span>
            </div>
        </div>
    </div>
</form>