<tr @tr>
  <td colspan="8" @td>
    <div class="grid-container">
      <div class="grid-x grid-padding-y">
        <div class="cell medium-6"></div>
        <div class="cell medium-6 flex-container flex-dir-column">
          <div class="flex-child-auto">
            <ul>
              <li><b>Cotização da aplicação:</b> {{ data.operability.application_quotation_days_str }}<i class="icon-help-circled"></i></li>
              <li><b>Cotização da resgate:</b> {{ data.operability.retrieval_quotation_days_str }}<i class="icon-help-circled"></i></li>
              <li><b>Liquidação do resgate:</b> {{ data.operability.retrieval_liquidation_days_str }}({{ data.operability.retrieval_liquidation_days_type }}) <i class="icon-help-circled"></i></li>
              <li><b>Taxa de administração:</b> {{ data.fees.administration_fee }}</li>
            </ul>
          </div>
          <div class="flex-child-auto">
            <a>Conheça mais informações sobre este fundo</a>
          </div>
          <div class="flex-child-shrink">
            <b>CNPJ do fundo:</b> {{ data.cnpj }}
          </div>
        </div>  
      </div>
    </div>
  </td>
</tr>