<table>
  <thead>
    <tr>
      <th width="200">Fundo</th>
      <th>Data da cota</th>
      <th width="100">Mês(%)</th>
      <th width="100">2016(%)</th>
      <th width="100">12 M(%)</th>
      <th width="100">Aplicação mínima(R$)</th>
      <th width="100">Prazo de resgate</th>
      <th width="100">Aplicar</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let fundo of fundos; index as i">
      <tr *ngIf="fundo.benchmark.id != fundos[i -1]?.benchmark.id">
        <td colspan="8">
          {{ fundo.benchmark.name }}
        </td>
      </tr>
      <!-- Alterar para abrir de acordo com algum dado de id do fundo, assim podendo facilitar a precisao da busca na funcao -->
      <tr app-fundos-header class="tr-header" [data]="fundo" [index]="i" (click)="closeHideDetailComponent(fundo, i)">{{ fundo.full_name }}</tr>
      <ng-template #detail></ng-template>
    </ng-container>
  </tbody>
</table>
