<form [formGroup]="formulario">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">
        <label>Prazo de resgate</label>
        <div class="slider" data-slider #prazo>
          <span class="slider-handle slider-prazo"  data-slider-handle role="slider" tabindex="2" aria-controls="bindPrazo"></span>
          <span class="slider-fill" data-slider-fill></span>
          <input formControlName="dado" type="hidden" id="bindPrazo">
        </div>
      </div>
      <div class="cell smal-12">
        <p>Até {{ formulario.get('dado').value }} dias úteis</p>
        <!-- <p *ngIf="formulario.get('dado').value >= 1 ">Até {{ formulario.get('dado').value }} dia útil</p> -->
      </div>
    </div>
  </form>
  
  