<form [formGroup]="formulario">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12">
      <label>Aplicação mínima</label>
      <div class="slider" data-slider data-position-value-function="log" data-non-linear-base="5" #minima>
        <span class="slider-handle slider-minima"  data-slider-handle role="slider" tabindex="1" aria-controls="bindValor"></span>
        <span class="slider-fill" data-slider-fill></span>
        <input formControlName="dado" type="hidden" id="bindValor">
      </div>
    </div>
    <div class="cell smal-12">
      <p>Até {{ formulario.get('dado').value | currency: "BRL" }}</p>
    </div>
  </div>
</form>

