<form [formGroup]="formulario">
  <div class="grid-x grid-margin-x">
    <label>Aplicação mínima</label>
    <div class="cell small-12">
      <div class="slider" data-slider>
        <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="bindValor" (mouseup)="sliderChange($event)"></span>
        <span class="slider-fill" data-slider-fill></span>
        <input formControlName="dado" type="hidden" id="bindValor">
      </div>
    </div>
    <div class="cell smal-12">
      <p>Até {{ formulario.get('dado').value | currency: "BRL" }}</p>
    </div>
  </div>
</form>

