/* You can add global styles to this file, and also import other style files */

@import 'util/_util';
@import 'foundation';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');
@import 'assets/foundation-icons/foundation-icons.css';
@import 'assets/icones-orama/css/fontello.css';
$body-font-family:'Roboto', sans-serif;
$header-font-family: 'Roboto Slab', serif;
$body-background: $medium-gray;
$table-is-striped: false;

@include foundation-everything;

html, body {
  padding: 0;
  margin: 0;
  background-color: #EEE;
}
