/* You can add global styles to this file, and also import other style files */

@import 'util/_util';
@import 'foundation';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;700&display=swap');
$body-font-family:'Roboto', sans-serif;
$header-font-family: 'Roboto Slab', serif;
$body-background: $medium-gray;


@include foundation-everything;

html, body {
  padding: 0;
  margin: 0;
}
